{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
  Forgot Password | EmpowerEd.
{% endblock %}

{% block content %}
  <main id="content" role="main" class="main pt-0">
    <div class="container-fluid px-3">
      <div class="row">
        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
          <div class="position-absolute top-0 start-0 end-0 mt-3 mx-3">
            <div class="d-none d-lg-flex justify-content-between">
              <a href="{% url 'login' %}"><h2>EmpowerEd.</h2></a>
            </div>
          </div>

          <div style="max-width: 23rem;">
            <div class="text-center mb-5">
              <img class="img-fluid" src="{% static 'assets/svg/illustrations/oc-chatting.svg' %}" alt="Image Description" style="width: 12rem;" data-hs-theme-appearance="default" />
              <img class="img-fluid" src="{% static 'assets/svg/illustrations-light/oc-chatting.svg' %}" alt="Image Description" style="width: 12rem;" data-hs-theme-appearance="dark" />
            </div>

            <div class="mb-5">
              <h2 class="display-5">EmpowerEd Rwanda Initiatives</h2>
            </div>

            <ul class="list-checked list-checked-lg list-checked-primary list-py-2">
              <li class="list-checked-item">
                <span class="d-block fw-semibold mb-1">EmpowerEd</span>
                A comprehensive view of the entire coffee production process, from cultivation to consumption
              </li>

              <li class="list-checked-item">
                <span class="d-block fw-semibold mb-1">Rwanda Initiatives</span>
                Bringing the Journey of Coffee Beans to Your Screen
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="w-100 content-space-t-4 content-space-t-lg-2 content-space-b-1" style="max-width: 25rem;">
            {% include 'includes/alerts.html' %}
            <form action="{% url 'forgotPassword' %}" method="POST">
              {% csrf_token %}
              <div class="text-center">
                <div class="mb-5">
                  <h1 class="display-5">Forgot password?</h1>
                  <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
                </div>
              </div>

              <div class="mb-4">
                <label class="form-label" for="resetPasswordSrEmail" tabindex="0">Your email</label>

                <input type="email" class="form-control form-control-lg" name="email" id="resetPasswordSrEmail" tabindex="1" placeholder="Enter your email address" aria-label="Enter your email address" required />
                <span class="invalid-feedback">Please enter a valid email address.</span>
              </div>

              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                <div class="text-center">
                  <a class="btn btn-link" href="{% url 'login' %}"><i class="bi-chevron-left"></i> Back to Sign in</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
