{% extends 'core/base.html' %}

{% block title %}
  Job | {{ job.title|upper }} | EmpowerEd
{% endblock %}

{% load static %}
{% block content %}
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm mb-2 mb-sm-0">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-no-gutter">
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="{% url 'dashboard' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
              <a class="breadcrumb-link" href="{% url 'jobs' %}">Jobs</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ job.title|capfirst }}</li>
          </ol>
        </nav>

        <h1 class="page-header-title">{{ job.title|capfirst }}</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <img class="mb-2" src="{{ job.image.url }}" width="100%" height="100%" />
      {% comment %} <div class="d-flex card card-center p-2">
        <a href="{% url 'institute_detail' %}">
          <div class="d-flex gap-2">
            <img class="img-fluid" width="50" height="50" style="border-radius: 100%;" src="{% static 'assets/img/160x160/img4.jpg' %}" />
            <p class="mt-3">{{ job.user.full_name }}</p>
          </div>
        </a>
        <span class="ms-auto">
          <i class="bi-calendar"></i>
          {{ job.date }}
        </span>
      </div> {% endcomment %}
    </div>

    <div class="col-md-6 mb-4">
      <div class="d-flex">
        <div>
          <h2>{{ job.title|capfirst }}</h2>
        </div>
        <div class="ms-auto">
          <p>
            <i class="bi-briefcase" style="margin-right: 0.5em;"></i>
            {{ job.location|capfirst }}
          </p>
        </div>
      </div>

      <div class="d-flex">
        <div>
          <p>
            <span class="legend-indicator bg-success"></span>
            {{ job.remaining_days }}
          </p>
        </div>
        <div class="ms-auto">
          <p>
            {{ num_applications }}
            <i class="bi-people"></i>
            Applied
          </p>
        </div>
      </div>

      <p>{{ job.description|safe|capfirst|truncatechars:300 }}</p>
    </div>

    <div class="col-md-8">
      <form action="{% url 'job_detail' job.slug %}" method="POST">
        {% csrf_token %}
        {% if job_application %}
          <a target="_blank" href="{{ job.application_link }}" class="card-link btn btn-outline-primary">Fill in Job Application form</a>
        {% else %}
          <button id="enroll-btn-{{ job.slug }}" class="card-link btn btn-outline-primary">Apply</button>
        {% endif %}
      </form>
      <p>{{ job.description|safe|capfirst }}</p>
    </div>
  </div>
{% endblock %}
